{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/cart.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Cart</h1>
    <h3 class="pb-3">Order Summary:</h3>
    {% if menu_items %}
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            {% for item in menu_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>₦{{ item.price }}</td>
                    <td class="quantity">
                        <button class="btn btn-outline-dark" onclick="decreaseQuantity('{{ item.id }}')">-</button>
                        <input type="number" class="quantity-input" id="quantity-{{ item.id }}" value="{{ item.quantity }}" min="1">
                        <button class="btn btn-outline-dark" onclick="increaseQuantity('{{ item.id }}')">+</button>
                    </td>
                    <td>₦{{ item.price|multiply:item.quantity }}</td>
                    <td>
                        <form action="{% url 'remove_from_cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="total" colspan="3">Total:</td>
                <td class="total-price" colspan="2">₦{{ price }}</td>
            </tr>
        </table>
        <a href="{% url 'order' %}" class="continue-shopping">Continue Shopping</a>
    {% else %}
        <p class="empty-cart">Your cart is empty.</p>
        <a href="{% url 'order' %}" class="continue-shopping">Continue Shopping</a>
    {% endif %}

    <script>
        function decreaseQuantity(itemId) {
            const quantityInput = document.getElementById(`quantity-${itemId}`);
            const currentQuantity = parseInt(quantityInput.value);
            if (currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
            }
        }

        function increaseQuantity(itemId) {
            const quantityInput = document.getElementById(`quantity-${itemId}`);
            const currentQuantity = parseInt(quantityInput.value);
            quantityInput.value = currentQuantity + 1;
        }
    </script>
</body>
</html>
