<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'main/base.html'%}
    {% load static %}
  <body>
{% block content %}
    <section class="header">
      <div class="text-box">
          <h1>Welcome To Uncle Stan's</h1>
          <p>Order Our Delicious Small Chops Online now!</p>
          <a href= ""class="hero-btn">Order Now</a>
      </div>
    </section>
    <main>
      
      <section class="featured">

        <h1>What's your pick?</h1>
        <div class="row">
            <div class="featured-col">
              <article>
                <img src="{% static 'main/images/mega-meal.jpeg' %}" alt="" />
                <h2>Packs</h2>
                <p>
                  We have the best small chops in Lagos!
                </p>
              </article>
            </div>
            <div class="featured-col">
              <article>
                <img src="{% static 'main/images/springrolls.jpeg' %}" alt="Pizza" />
                <h2>Platters</h2>
                <p>
                  Share a platter with friends!
                </p>
              </article>
            </div>
            <div class="featured-col">
              <article>
                <img src="{% static 'main/images/53CE354D-568D-4CA9-BF15-718C40C2A119.jpeg' %}" alt="Pizza" />
                <h2>Extras</h2>
                <p>
                  Want Extras?.
                </p>
              </article>
            </div>
        </div>

    </section>
    </main>
{% endblock %}
  </body>
</html>

<!--Javascript for Toggle menu-->

