<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
<head>
    {% block content%}
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <ul><div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method = POST action="{% url 'index' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pt-5"> 
                    {% for menu_item in menu_items %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img src="{{ menu_item.image_url }}" alt="{{ menu_item.name }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <div class="d-flex flex-row">
                                <input type="checkbox" name="items[]" class="form-check-input" value="{{ menu_item.pk }}">
                                <label class="form-check-label">{{ menu_item.name }}</label>
                            </div>
                            <p class="font-weight-bold pl-5">{{ menu_item.price }}</p>
                        </div class="featured-col">
                        <p>{{ menu_item.description }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button class="hero-btn">Checkout</button>
            </form>

    </div>
    </ul>      
        </div>        
    
    {% endblock %}
</body>
</html>
