<!DOCTYPE html>
{% extends 'main/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for ex in extra %}
                    <div class="row item-container">
                        {{ ex.category }}
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ ex.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ ex.pk }}">
                                    <label class="form-check-label">{{ ex.name }}</label>
                                </div>
                                <p class="font-weight-bold ml-auto">{{ ex.price }}</p>
                                <button class="btn btn-primary add-to-cart-btn" data-item-id="{{ item.id }}">Add to Cart</button>
                                <div class="input-group quantity">
                                    <button class="btn btn-sm btn-outline-dark quantity-decrease" type="button">-</button>
                                    <input type="number" name="quantity[]" class="form-control quantity-input" min="0" value="0">
                                    <button class="btn btn-sm btn-outline-dark quantity-increase" type="button">+</button>
                                </div>
                            </div>
                            <p class="item-description">{{ ex.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for pac in pack %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ pac.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ pac.pk }}">
                                    <label class="form-check-label">{{ pac.name }}</label>
                                </div>
                                <p class="font-weight-bold ml-auto">{{ pac.price }}</p>
                                <div class="input-group quantity">
                                    <button class="btn btn-sm btn-outline-dark quantity-decrease" type="button">-</button>
                                    <input type="number" name="quantity[]" class="form-control quantity-input" min="0" value="0">
                                    <button class="btn btn-sm btn-outline-dark quantity-increase" type="button">+</button>
                                </div>
                            </div>
                            <p class="item-description">{{ pac.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for p in platter %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ p.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ p.pk }}">
                                    <label class="form-check-label">{{ p.name }}</label>
                                </div>
                                <p class="font-weight-bold ml-auto">{{ p.price }}</p>
                                <div class="input-group quantity">
                                    <button class="btn btn-sm btn-outline-dark quantity-decrease" type="button">-</button>
                                    <input type="number" name="quantity[]" class="form-control quantity-input" min="0" value="0">
                                    <button class="btn btn-sm btn-outline-dark quantity-increase" type="button">+</button>
                                </div>
                            </div>
                            <p class="item-description">{{ p.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="pt-5">
                    {% for d in drink %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ d.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row align-items-center">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ d.pk }}">
                                    <label class="form-check-label">{{ d.name }}</label>
                                </div>
                                <p class="font-weight-bold ml-auto">{{ d.price }}</p>
                                <div class="input-group quantity">
                                    <button class="btn btn-sm btn-outline-dark quantity-decrease" type="button">-</button>
                                    <input type="number" name="quantity[]" class="form-control quantity-input" min="0" value="0">
                                    <button class="btn btn-sm btn-outline-dark quantity-increase" type="button">+</button>
                                </div>
                            </div>
                            <p class="item-description">{{ d.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Quantity increase and decrease functionality
    $(document).ready(function() {
        $(".quantity-increase").click(function() {
            var input = $(this).siblings(".quantity-input");
            var currentValue = parseInt(input.val());
            input.val(currentValue + 1);
        });

        $(".quantity-decrease").click(function() {
            var input = $(this).siblings(".quantity-input");
            var currentValue = parseInt(input.val());
            if (currentValue > 0) {
                input.val(currentValue - 1);
            }
        });
    });
</script>
{% endblock %}
</body>
</html>
