/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
#nav-pane {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: right;
}

#nav-pane ul {
  background-color: #f5f5f5;
  padding: 10px;
}
#nav-pane ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
#nav-pane li {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.dropdown-btn:hover {
  background-color: #f1f1f1;
}
#nav-pane li.active {
  font-weight: bold;
  color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/* Main Content */
main {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  margin-left: 200px; /* Adjust the margin to create space for the navigation pane */
  transition: margin-left 0.5s ease;
}

.menu-section {
  margin-bottom: 30px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin: 0 0 20px;
}

.menu-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
}

h3 {
  color: #333;
  font-size: 20px;
  margin: 0 0 10px;
}

p {
  color: #777;
  margin: 0 0 15px;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #555;
}

.quantity-btn {
  background-color: #f1f1f1;
  color: #555;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-btn:hover {
  background-color: #ddd;
}

.item-count {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

/* Cart */
.cart-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.cart {
  background-color: #555;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart:hover {
  background-color: #333;
}

.cart i {
  margin-top: 2px;
}

/* Mobile View */
@media (max-width: 600px) {
  #nav-pane {
    text-align: left;
  }

  .dropdown-btn {
    padding: 10px;
  }

  .dropdown-content {
    min-width: 100%;
    top: 100%;
    left: 0;
    box-shadow: none;
  }

  .dropdown-content a {
    padding: 10px;
  }

  .cart-container {
    bottom: 10px;
    right: 10px;
  }

  .cart {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .item-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .price {
    margin-bottom: 10px;
  }

  .quantity-btn {
    margin-top: 10px;
  }
}


